#furl {
    width: 96%;
}

#answers {
    padding-left: 5%;
    padding-right: 5%;
}

.question {
    padding-bottom: 1%;
    border-color: blue;
    border-style: dashed;
}

.question > * {
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
}

#answers > h1 {
    border-color: green;
    border-style: solid;
    font-size: 500%;
    text-align: center;
}

.content > h3 {
    border-color: red;
    border-style: solid;
    font-size: 250%;
    text-align: center;
}
